html {
  font-size: calc(16px + (24 - 16) * (100vmin - 320px) / (1440 - 320));
}

html * {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.618em;
}

main {
  display: block;
}

.central-column {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  main .central-column {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
}

main p {
  display: block;
  color: dimgray;
  margin: 0;
}

.card {
  display: block;
  background: white;
  padding: 2rem;
  margin: 1rem 0;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  border-radius: 0.125rem;
}

@media screen and (min-width: 768px) {
  .card {
    width: calc(50% - 1rem);
  }
}

form input {
  -webkit-appearance: none;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 1.618em;
  width: 100%;
  border: 0.0625rem solid dimgray;
  border-radius: 0.125rem;
}

form input[type="number"] {
  margin-top: 1rem;
}

form input[type="submit"] {
  background: #0077d8;
  color: white;
  border: 0;
  margin: 1rem 0;
  max-width: 10rem;
  transition: background ease-in 150ms;
}

form input[type="submit"]:hover {
  background: #0a60b2;
}

#masthead {
  background: #0077d8;
}

#masthead .title {
  font-size: 1.5rem;
  color: white;
  line-height: 1.618em;
  text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.15);
}

#colophon {
  background: black;
  color: white;
}

#colophon a {
  color: #0077d8;
}

#roman-numeral {
  transition: transform ease-in 150ms;
  transform: scale(1);
  opacity: 1;
}

#roman-numeral[data-state="is-empty"] {
  transform: scale(0);
  opacity: 0;
}

.jasmine_html-reporter {
  margin: 0 !important; /* @TODO: Sorry about this but it's development-specific external css */
}
