html {
  font-size: calc(16px + (24 - 16) * (100vmin - 320px) / (960 - 320));
}

html * {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
}

main {
  display: block;
  line-height: 1.618em;
}

.central-column {
  max-width: 960px;
  margin: 0 auto;
  padding: 5vw 5vh;
}

main p {
  display: block;
  color: dimgray;
  margin: 0;
}

form {
}
form label {
  color: black;
}
form input {
  -webkit-appearance: none;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  line-height: 1.618em;
  width: 100%;
}
form input[type="number"] {
  margin-top: 1rem;
}
form input[type="submit"] {
  border-radius: 0.125rem;
  background: tomato;
  color: white;
  border: 0;
  margin: 1rem 0;
  max-width: 10rem;
  transition: background ease-in 300ms;
}
form input[type="submit"]:hover {
  background: orangered;
}
#roman-numeral {
  display: block;
  margin: 5vh 0;
  font-weight: bold;
}

#masthead {
  background: dodgerblue;
}

#masthead .title {
  color: white;
  line-height: 1.618em;
  text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.15);
}
